<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>		
		<typeAlias type="com.koitt.movie.model.Movie" alias="Movie"/>						 
		<typeAlias type="com.koitt.movie.model.Member" alias="Member"/>
		<typeAlias type="com.koitt.movie.model.Reservation" alias="Reservation"/>
		<typeAlias type="com.koitt.movie.model.UserType" alias="UserType"/>
		<typeAlias type="com.koitt.movie.model.Seat" alias="Seat"/>
		<typeAlias type="com.koitt.movie.model.Schedule" alias="Schedule"/>		
	</typeAliases>
</configuration>