.seat_area {position:relative; }
.seat_tit {position:absolute; display:inline-block; width:20px; height:22px; text-align:left; line-height:22px; font-size:11px; color:#2b2e33}
.seat-selected {
    background: #f7cac9;
}
.seat_area a {position:absolute; display:block; width:22px; height:22px; background:#848484; text-align:center; color:#fff; font-size:11px; line-height:23px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.seat_Barea {overflow:auto; position:relative; padding:20px 0;
padding-top: 50px;
align-content: background:#f9f8f3; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}

.screen_box {position:relative}
.screen_box .screen_tit {display:block;  margin-top: 50px; background: lightgray;  line-height:25px; font-size:20px; color:#231f20; text-align:center; font-weight:normal; font-style:italic}
 .cal-radio {
            display: none;
        }
        
        .calendar {
            width: 994px;
        }
        
        .select-age {
            width: 994px;
            margin-top: 30px;
        }
        
        
        .age-radio:last-child {
            margin-left: 40px;
        }

        .calendar .zInputWrapper {
            background-color: #9197B5;
            padding: 4px;
            max-width: 100%;
            margin: 2px;
            border-radius: 12px;
            display: inline-block;
        }
        .select-age .zInputWrapper {
             background-color: white;
            padding: 4px;
            max-width: 100%;
            margin: 2px;
            border-radius: 12px;
            display: inline-block;
        }
         .age-radio: {
            display:none;
             background: white;
        }

        .calendar .zInput {
            display: inline-block;
            width: 85px;
            height: 80px;
            background-color: white;
            margin: 4px;
            padding: 12px;
            display: inline-block;
            text-align: center;
            cursor: default;
            color: black;
            border: #f7cac9 1px solid;
            border-radius: 10px;
            font-size: 18px;
            overflow: hidden;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .select-age .zInput {
            display: inline-block;
            width: 150px;
            height: 50px;
            background-color: white;
            margin: 4px;
            padding: 12px;
            display: inline-block;
            text-align: center;
            cursor: default;
            color: black;
            border: #f7cac9 1px solid;
            border-radius: 10px;
            font-size: 18px;
            overflow: hidden;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .zCheckbox {
            color: #e74c3c;
            border: #e74c3c 1px solid;
        }

        .calendar .zSelected {
            color: white;
            background-color: #88B04B;
        }
        
        .select-age .zSelected {
            color: white;
            background-color: #88B04B;
        }

        .zSelected.zCheckbox {
            background-color: #e74c3c;
        }

        .theater-container h2 {
            margin-left: 60px;
            margin-top: 40px;
        }

        .theater-container h4 {
            margin-left: 90px;
        }

        .movie-title {
            display: inline;
        }

        .hr {
            margin-top: 40px;
            border: 0.3px solid lightgray;
        }

        .preserv-time {
            position: relative;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .preserv-time ul li {
            display: inline-block;
            background-color: #9197B5;
            text-align: center;
            width: 200px;
            height: 100px;
            border: 0.1px solid black;
        }

        .preserv-time ul li a {
            color: white;
            text-decoration: none;
        }

        .cine-place {
            display: block;
            height: 25px;
            line-height: 25px;
            border-bottom: 0.1px solid black;

        }

        .cine-time {
            display: block;
            font-size: 1.5em;
            height: 50px;
            line-height: 50px;
            border-bottom: 0.1px solid black;
        }

        .cine-seat {
            display: block;
        }

        .seat-selected {
            background: #B163A3;
        }
        .pay-container ul li {
            display: block;
            margin-top: 20px;
            margin-left: 40px;
            width: 100%;
            height: auto;
        }