li {
    list-style: none;
}

.reg-btn {
    margin-top: 2px;
    display: inline-block;
    width: 175px;
    height: 44px;
    line-height: 44px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: white;
    background: #f7cac9;
    font-weight: bold;
}

.reg-btn:hover {
    text-decoration: none;
    color: white;
}

#sname {
    width: 200px;
    margin-bottom: 20px;
}

.table-join {
    width: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50%;
    margin-right: 50%;
}

.table-join tr th {
    margin-top: 30px;
    padding-bottom: 15px;
}

.table-join tr td input {
    line-height: normal;
    padding: .8em .5em;
    margin-top: 30px;
    font-family: inherit;
    border: 1px solid #999;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}
.synop {
    width: 350px;
    height: 500px;
    resize: none;
}
