 .prev {
     margin-top: 40px;
     margin-left: 15px;
 }

 .prev-top {
     margin-top: 70px;
     margin-left: 70px;
 }

 .thumb {
     float: left;
     width: 220px;
 }

 .thumb img {
     width: 175px;
     height: 230px;
 }

 .top-ex {
     position: relative;
     width: 700px;
 }

 .ranking li {
     list-style: none;
     display: inline;
 }

 .prev-text {
     clear: both;
     margin-left: 70px;
 }

 .ticketing-btn {
     margin-top: 2px;
     display: inline-block;
     width: 175px;
     height: 44px;
     line-height: 44px;
     margin-bottom: 40px;
     box-sizing: border-box;
     text-decoration: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     text-align: center;
     font-size: 16px;
     color: #cdc197;
     background: #231f20;
     font-weight: bold;
 }

 .ticketing-btn:hover {
     text-decoration: none;
     color: #cdc197;
 }


 .mov-grade li {
     list-style: none;
 }

 .mov-grade li:nth-child(3) h4 {
     display: inline;
 }

 #img-slider {
     list-style: none;
 }

 #img-slider li img {
     display: inline-block;
     width: 160px;
     height: 160px;
 }

 ul {
     list-style: none outside none;
     padding-left: 0;
     margin: 0;
 }

 .demo .item {
     margin-bottom: 60px;
 }

 .content-slider li {
     background-color: #ed3020;
     text-align: center;
     color: #FFF;
 }

 .content-slider h3 {
     margin: 0;
     padding: 70px 0;
 }

 .demo {
     width: 800px;
 }

 .video {
     margin-top: 5px;
 }

 .star-box {
     width: 100%;
     margin: 0 auto;
     text-align: center;
 }

 .reply-box {
     display: inline-block;
     width: 400px;
     margin-top: 20px;
 }

 .user-name {
     position: relative;
     display: inline-block;
     bottom: 23px;
     left: -10px;
 }

 #repl-btn {
     position: relative;
     bottom: 23px;
     right: -10px;
 }

 .star-input > .input,
 .star-input > .input > label:hover,
 .star-input > .input > input:focus + label,
 .star-input > .input > input:checked + label {
     display: inline-block;
     vertical-align: middle;
     background: url('../image/grade_img.png')no-repeat;
 }

 .star-input {
     display: inline-block;
     white-space: nowrap;
     width: 225px;
     height: 40px;
     padding: 25px;
     line-height: 30px;
 }

 .star-input > .input {
     display: inline-block;
     width: 150px;
     background-size: 150px;
     height: 28px;
     white-space: nowrap;
     overflow: hidden;
     position: relative;
 }

 .star-input > .input > input {
     position: absolute;
     width: 1px;
     height: 1px;
     opacity: 0;
 }

 star-input > .input.focus {
     outline: 1px dotted #ddd;
 }

 .star-input > .input > label {
     width: 30px;
     height: 0;
     padding: 28px 0 0 0;
     overflow: hidden;
     float: left;
     cursor: pointer;
     position: absolute;
     top: 0;
     left: 0;
 }

 .star-input > .input > label:hover,
 .star-input > .input > input:focus + label,
 .star-input > .input > input:checked + label {
     background-size: 150px;
     background-position: 0 bottom;
 }

 .star-input > .input > label:hover ~ label {
     background-image: none;
 }

 .star-input > .input > label[for="p1"] {
     width: 30px;
     z-index: 5;
 }

 .star-input > .input > label[for="p2"] {
     width: 60px;
     z-index: 4;
 }

 .star-input > .input > label[for="p3"] {
     width: 90px;
     z-index: 3;
 }

 .star-input > .input > label[for="p4"] {
     width: 120px;
     z-index: 2;
 }

 .star-input > .input > label[for="p5"] {
     width: 150px;
     z-index: 1;
 }

 .star-input > output {
     display: inline-block;
     width: 60px;
     font-size: 18px;
     text-align: right;
     vertical-align: middle;
 }

 .star_rating {
     font-size: 0;
     letter-spacing: -4px;
 }

 .star_rating a {
     font-size: 22px;
     letter-spacing: 0;
     display: inline-block;
     margin-left: 5px;
     color: #ccc;
     text-decoration: none;
 }

 .star_rating a:first-child {
     margin-left: 0;
 }

 .star_rating a.on {
     color: darkred;
 }

.repl-box {
    margin: 0 auto;
}

.repl-list {
    width: 100%;
    text-align: center;
}

.repl-list li {
    display: inline-block;
    border-bottom: 0.5px solid lightgray;
    width: 100%;
}

.rep-user-name {
    margin-right: 30px;
}

.admin-menu ul {
	text-align: center;
}

.admin-menu ul li {
	display: inline-block;
}

.reply-content {
    display: inline-block;
}

.good-btn {
    display: inline-block;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: black;
    background: whitesmoke;
    float: right;
}
.good-btn:hover {
    text-decoration: none;
    color: black;
}

.count {
    margin-left: 4px;
}
