<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Untitled Document</title>
    <script>
        function submitTest() {
                    if ($('.login-id').val() === "") {
                        alert("아이디를 입력해주세요!");
                        return false;
                    } else if ($('.login-pwd').val() === "") {
                        alert("비밀번호를 입력해주세요!");
                        return false;
                    } else {
                        $('#loginForm').submit();
                    }
                    
                    return true;
        }
    </script>
</head>

<body>
    <div class="frame">
        <div class="container">
            <div class="header">
                <div class="logo"> <a href="Movies_Main.html"> Movie Theater </a> </div>
            </div>
            <div class="content">
                <form action="#" method="post" id="loginForm">
                    <table class="table-login">
                        <tr>
                            <th class="text-right">- 아이디</th>
                            <td class="text-center"><input type="text" id="sname" class="login-id" name="login-id" value=""></td>
                        </tr>
                        <tr>
                            <th class="text-right">- 비밀번호</th>
                            <td class="text-center"><input type="password" id="sname" class="login-pwd" name="login-pwd" value=""></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center">
                                <a href="javascript:{}" onClick="submitTest();" class="login-btn">로그인</a>
                                <a href="Movies_Register.html" class = "reg-btn">회원 가입</a>
                            </th>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
        <div class="footer">
            <p class="copyright">&copy;copyright reserved larl</p>
        </div>
    </div>

    <script src="bootstrap/js/jquery-1.12.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>